.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height: 100px;
  
    .link{ 
        text-decoration: none;
        color: rgb(204, 221, 241);
        font-size: 22px;
         margin-right:100px;
}
}
