.img:hover{
    width: 405px;
    height: 405px;
  }
  .img{
 width: 400px;
 height: 400px;
  }
 .img1:hover{
     width: 405px;
     height: 405px;
 }
 .img1{
     width: 400px;
     height: 400px;
 }
 .img2:hover{
     width: 405px;
     height: 405px;
 }
 .img2{
     width: 400px;
     height: 400px;
 }
 .ber1:hover{
     width: 105px;
     height: 105px;
 
 }
 .ber1{
     width: 100px;
     height: 100px;
 }
 .ber2:hover{
     width: 105px;
     height: 105px;
 }
 .ber2{
     width: 100px;
     height: 100px;
 }
  .ber:hover{
  width: 105px;
  height: 105px;
  }
  .ber{
  width: 100px;
 height: 100px;
  }   
 .img3:hover{
   width: 255px;
       
   }
    .img3{
  width: 250px;
 height:250px;
 }
 .img4:hover{
  width: 255px;

 }
 .img4{
 width: 250px;
 height:250px;
 }